<!DOCTYPE html>
html(lang="en")
   head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Blutreat
        link(href="css/style.css", rel="stylesheet")
   body
        include 2-mixins/_mixins
        .container-fluid
            include 1-layout/_header
        .container-fluid.banner-content
            include 1-layout/_carousel
        .container
            .row
                .col-md-12
                p.lead.text-center.highlight-content
                    | Let's get in <span>touch</span>
            .row
                .col-md-6.col-md-offset-3
                    p.intro-text
                        | Ready to start business with us? That's great! Give us a call or send us
                        | an email and we will get back to you as soon as possible!

            .row
                .col-md-8.col-md-offset-2
                    form(name="sendMessage" id="contactForm" novalidate="").contact-us
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                input(type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name.")
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                input(type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false")
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                input(type="tel" class="form-control" placeholder="Phone Number" id="phone" required="" data-validation-required-message="Please enter your phone number.")
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                textarea(rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message.")
                        br
                        .row
                            .form-group.col-xs-12
                                button(type="submit" class="btn btn-default") Send

            .row.maps
                include 1-layout/_location
                include 1-layout/_location
                include 1-layout/_location


        .container-fluid
            include 1-layout/_footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="js/blutreat.js")
        script(type='text/javascript').
            $(function() {
               highlightNav("contact.html");
            });

