//
   Created by Dhakchianandan on 29/08/15.

.col-md-3.col-sm-4.col-xs-6.text-center.customer
    .media
        .media-middle
            a(href="")
                img(src="http://placehold.it/200x110").img-responsive
    .media-body.hidden-sm.hidden-xs
        .media-heading
            h5  Company Name
        p
            | Lorem ipsum takes cares of the
            | following chemicals
            | More...

