//
   Created by Dhakchianandan on 24/08/15.


.col-md-4
    .thumbnail
        .map
            iframe(height="250px", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC8s24G7dBFHF7RO-kvJdfhz80SvhLikCk&q=Lakshmanan Street, Mahalingapuram, Chennai, Tamil Nadu")
        .caption
            address
                | <strong>Blutreat HeadQuaters</strong><br>
                | 28 Lakshmanan Street, Mahalingapuram<br>
                | Chennai-600034<br>
                | <abbr title="Phone">Phone:</abbr> 9840962788