//
   Created by Dhakchianandan on 24/08/15.

.col-md-4.product
    .thumbnail.product-section
        img(src="http://placehold.it/350x200", alt="").img-responsive
        .caption
            h3 Repair
            p.text-left
                | MASTER EMACO series